<p id="notice"><%= notice %></p>

<h1>Meetings</h1>

<table>
  <tbody>
    <% @meetings.each do |meeting| %>
    <tr>
      <td><b><%= meeting.client.name %></b></td>
      <td><%= meeting.date.strftime('%d-%m-%y') %> @ <%= meeting.time.strftime('%H:%M') %></td>
      <td><%= link_to '', meeting, class: 'showbutton glyphicon glyphicon-eye-open' %></td>
      <td><%= link_to '', edit_meeting_path(meeting), class: 'showbutton glyphicon glyphicon-pencil' %></td>
      <td><%= link_to '', meeting, method: :delete, data: { confirm: 'Are you sure?' }, class: 'showbutton glyphicon glyphicon-trash' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
