<p id="notice"><%= notice %></p>
<p>
  <b><%= @meeting.client.name %></b>
</p>
<p>
	<%= @meeting.date.strftime('%d-%m-%y') %> @ <%= @meeting.time.strftime('%H:%M') %>
</p>
<p>
<%= @meeting.description %>
</p>
<%= link_to '', :back, class: 'showbutton glyphicon glyphicon-arrow-left' %>
<%= link_to '', edit_meeting_path(@meeting), class: 'showbutton glyphicon glyphicon-pencil' %>
<%= link_to '', @meeting, method: :delete, data: { confirm: 'Are you sure?' }, class: 'showbutton glyphicon glyphicon-trash' %>
