<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @invoice.price %>
</p>

<p>
  <strong>Sent date:</strong>
  <%= @invoice.sent_date %>
</p>

<p>
  <strong>Paid date:</strong>
  <%= @invoice.paid_date %>
</p>

<p>
  <strong>Project:</strong>
  <%= @invoice.project %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
