<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td><b><%= client.name %></b></td>
      <td><%= client.email %></td>
      <td><%= link_to '', client, class: 'showbutton glyphicon glyphicon-eye-open' %></td>
      <td><%= link_to '', edit_client_path(client), class: 'showbutton glyphicon glyphicon-pencil' %></td>
      <td><%= link_to '', client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'showbutton glyphicon glyphicon-trash' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
