<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Quote price:</strong>
  <%= @project.quote_price %>
</p>

<p>
  <strong>Quote time:</strong>
  <%= @project.quote_time %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
